@import '../../styles/fonts.scss';
@import '../../styles/colors.scss';

//CONTACT FORM
.container {
  display: flex;
  background-color: $white;
  flex-direction: column;
  padding: 3rem;
}
.marge {
  margin: 2rem 0 1.5rem 0;
}
.main {
  .formgroup {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    label {
      font-family: $heading-font;
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
      font-feature-settings: 'aalt';
      color: $darkblue;
    }
    .rgpd {
      font-family: $body-font;
      font-size: 0.9rem;
      letter-spacing: 0;
    }
    input[type='text'],
    input[type='email'],
    select,
    textarea {
      background: transparent;
      font-size: 1rem;
      border: none;
      cursor: pointer;
      border-bottom: 1px solid $darkblue;
      font-family: $body-font;
      padding: 0.4rem 0;
      transition: all 0.3s ease-in-out;
      margin-bottom: 2rem;
      width: 100%;
      color: $darkblue;
      &:focus {
        border: none;
        outline: none;
        border-bottom: 1px solid $green;
      }
    }
    .radiobutton {
      .radio-button {
        margin-right: 0.5rem;
      }
      input[type='radio']:checked + label {
        color: $green;
      }
    }
  }
}
.button {
  margin-top: 1.5rem;
  position: relative;
  float: right;
  padding: 1rem 2rem;
  background-color: $green;
  color: $white;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  overflow: hidden;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
    &:hover {
    background: $pink;
    transform: translateY(-4px);
  }
  span {
    position: relative;
    z-index: 1;
  }
}
.clear {
  clear: both;
}
.rgpd {
  margin-top:1rem;
  font-size: 0.9rem;
  a{
    color:$darkblue;
  }
}