@import './colors.scss';
@import './fonts.scss';

// Boutons

// PLUS
.btn-plus {
  display: flex;
  align-items: center;
  letter-spacing: 0;
  font-weight: normal;
}
.plus {
  font-size: 3rem;
  margin-left: 1rem;
  margin-top: 0;
  font-weight: normal;
  &a {
    color: $darkblue;
  }
  &:hover {
    color: $white;
  }
}
a.btn-plus {
  color: $darkblue;
  letter-spacing: 0;
  transition: 0.2s transform ease-out;
  margin-top:1rem;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color: $white;
    transform: scale(1.1);
  }
}
div.card2__content > div > a {
  text-decoration: none;
  font-weight: bold;
}
//coolbeans
.coolBeans {
  border: none;
  background-color: $pink;
  z-index: 3;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  font-family: $body-font;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  font-weight: bold;
  overflow: hidden;
  padding: 1rem 2rem;
  margin-top: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  cursor: pointer;
  &:hover {
    letter-spacing: 0.2rem;
    transition: 0.2s;
  }
}
