//fonts
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@font-face {
  font-family: 'headingsfont';
  src: url('/fonts/headingsfont.otf');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
$heading-font: 'headingsfont', sans-serif;
$body-font: 'Quicksand', sans-serif;
