@import './colors.scss';

// Grid

$minColWidth: 300px;
$gridGap: 1rem;

html,
body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

.grid-wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($minColWidth, 1fr));
  grid-gap: $gridGap;
}

.colonne {
  padding: $gridGap;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  //align-masonry-bricks: center; /* centers masonry-bricks horizontally */
  justify-content: center; /* centers masonry-bricks vertically */
}
.hero2 {
  min-height: 70vh;
}
.height100 {
  height: 100%;
}
@supports (grid-area: auto) {
  body {
    display: grid;
  }
}
@media (min-width: 500px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5rem;
  }
}
.flexrowleft {
  display: flex;
  align-masonry-bricks: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.grecaptcha-badge {
  visibility: hidden;
}
