.lottiehome {
  z-index: 0;
  position: absolute;
  transition: all 1s ease 0s;
  bottom: -0.4rem;
  right: -5rem;
  width: 130%;
  @media screen and (max-width: 1024px) {
    right: -2rem;
  }
}
.lottiestrat {
  z-index: 0;
  position: absolute;
  transition: all 1s ease 0s;
  right: 0;
  bottom: -0.4rem;
  width: 30%;
}
.lottiemarketing {
  z-index: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: all 2s ease 0s;
}
.lottieweb {
  z-index: 0;
  position: absolute;
  transition: all 1s ease 0s;
  bottom: 0;
  right: 0;
  width: 120%;
}
.lottieabout {
  z-index: 0;
  position: absolute;
  transition: all 1s ease 0s;
  bottom:35%;
  right: 10%;
  width: 30%;
}
