@import '../styles/colors.scss';
@import '../styles/fonts.scss';

/************** Large screen navigation ****************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 100;
  position: fixed;
  width: 100%;
  background: $green;
}
/*logo text*/
.logo {
  justify-content: center;
  padding: 1rem 0;
  align-items: center;
  font-family: $heading-font;
  font-feature-settings: 'aalt';
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  a {
    color: $white;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      transition: all 0.5s ease-in-out;
      color: $darkblue;
    }
  }
}

/*nav link*/
.NavMenu {
  display: flex;
  align-items: center;
  height: 100%;
  a {
    font-family: $heading-font;
    font-feature-settings: 'aalt';
    letter-spacing: 0.05rem;
    font-size: 1.1rem;
    color: $darkblue;
    text-decoration: none;
    padding: 0 0.8rem;
    cursor: pointer;
    &:hover {
      transition: all 0.3s ease-in-out;
      transform: translateY(-2px);
      color: $white;
    }
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.navButton {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.menuButton {
  background: $yellow;
  color: $darkblue;
  border: none;
  font-family: $heading-font;
  font-feature-settings: 'aalt';
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  white-space: nowrap;
  outline: none;

  a {
    text-decoration: none;
    cursor: pointer;
  }
  &:hover {
    transform: translateY(-2px);
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

/************** Mobile DropDown ****************/
.dropdownContainer {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.dropdownMenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 80px);
  text-align: center;
  margin-bottom: 4rem;

  @media screen and (max-width: 480px) {
    grid-template-rows: repeat(6, 60px);
  }
}
.dropdownBtnWrap {
  display: flex;
  justify-content: center;
}
/*DropDownlink*/
div.dropdownMenu > a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $darkblue;
  font-size: 2rem;
  text-decoration: none;
  font-family: $heading-font;
  font-feature-settings: 'aalt';
  letter-spacing: 0.1rem;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    color: $white;
  }
}

.dropdownButton {
  background: $yellow;
  color: $darkblue;
  border: none;
  font-family: $heading-font;
  font-feature-settings: 'aalt';
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  a {
    text-decoration: none;
  }
  &:hover {
    transform: translateY(-2px);
  }

  @media screen and (max-width: 480px) {
    display: none;
  }
}
